<a [routerLink]="'/books/'"><span class="mdi mdi-chevron-left"></span> Back to Books list</a>
<div class="row">
	<div class="col-sm-8">
		<h1>{{ formTitle }} <span *ngIf="!isLoaded" class="loader mdi mdi-36px mdi-spin mdi-loading"></span></h1>
		<hr>
		<form #bookForm="ngForm" class="clr-form clr-form-compact" (ngSubmit)="onSubmit()">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="title">Title *</label>
					<input class="form-control" [(ngModel)]="book.title" type="text" id="title" name="title" placeholder="Title" required>
				</div>
				<div class="form-group col-md-6">
					<label for="author">Author *</label>
					<input class="form-control" [(ngModel)]="book.author" type="text" id="author" name="author" placeholder="Author" required>
				</div>
			</div>
			<div class="form-group">
				<label for="imageUrl">Cover *</label>
				<input class="form-control" [(ngModel)]="book.imageUrl" type="text" id="imageUrl" name="imageUrl" placeholder="imageUrl" required>
			</div>
			<div class="form-group">
				<label for="genres">Genres *</label>
				<select multiple class="form-control select-lg" [(ngModel)]="book.genres" id="genres" name="genres" required>
					<option value="{{ genre.code }}" *ngFor="let genre of genres;">{{ genre.name }}</option>
				</select>
				<small class="form-text text-muted">You can add more genres <a [routerLink]="'/genres/add'" [target]="'_blank'">here</a></small>
			</div>
			<div class="form-group">
				<label for="description">Description *</label>
				<textarea class="form-control" [(ngModel)]="book.description" id="description" name="description" required></textarea>
			</div>

			<button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">{{ submitText }}</button>
		</form>
	</div>

	<div class="col-sm-4 d-none d-sm-block">
		<div class="card text-center" *ngIf="book.imageUrl">
			<img class="card-img-top" src="{{ book.imageUrl}}" #img (error)="img.src = 'assets/img/not_found.jpg'">
			<span *ngIf="!isLoaded" class="mdi mdi-36px mdi-spin mdi-loading"></span>
		</div>
	</div>

</div>