<a [routerLink]="'/genres/'"><span class="mdi mdi-chevron-left"></span> Back to Genres list</a>
<div class="row">
	<div class="col-sm-8">
		<h1>{{ formTitle }} <span *ngIf="!isLoaded" class="loader mdi mdi-36px mdi-spin mdi-loading"></span></h1>
		<form #genreForm="ngForm" class="clr-form clr-form-compact" (ngSubmit)="onSubmit()">

			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" [(ngModel)]="genre.name" type="text" id="name" name="name" (keyup)="onNaming($event)">
			</div>

			<div class="form-group">
				<small class="float-right" *ngIf="page !== 'edit'">
					<input type="checkbox" [(ngModel)]="slugCode" [ngModelOptions]="{standalone: true}" />
					<span> Auto slug</span>
				</small>
				<label for="code">Identification code</label>
				<input [disabled]="slugCode" class="form-control" [(ngModel)]="genre.code" type="text" id="code" name="code" [disabled]="page === 'edit'">
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" [(ngModel)]="genre.description" type="text" id="description" name="description"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">{{ submitText }}</button>
		</form>
	</div>
	<div class="col-sm-4 d-none d-sm-block" *ngIf="page === 'edit'">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ genre.name }} Books</h5>
				<table class="table" *ngIf="books.length">
					<tbody>
						<tr *ngFor="let book of books;">
							<td>{{ book.title }} </td>
							<td class="text-right"><a class="btn btn-sm btn-info" [routerLink]="['/books/edit/', book.id]">Edit book</a></td>
						</tr>
					</tbody>
				</table>
				<p class="card-text" *ngIf="!books.length">no books of this genre</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4 d-none d-sm-block" *ngIf="page !== 'edit'">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Suggestions</h5>
				<ul>
					<li>Fantasy</li>
					<li>Westerns</li>
					<li>Romance</li>
					<li>Thriller</li>
					<li>Mystery</li>
					<li>Detective story</li>
					<li>Dystopia</li>
				</ul>
			</div>
		</div>
	</div>

</div>